body {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
   

        height: 100vh;
        background-image: url("fundodobixo.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        
}

.login_container {
    min-height: 400px;
    width: 300px;
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    padding: 32px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_title {
    margin-bottom: 42px;
    color: #303030;
}

.login_form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login_input {
    height: 48px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    border: unset;
    outline: none;

}

.login_input-border {
    height: 1px;
    width: 100%;
    margin-bottom: 16px;
    background-color: #cfcfcf;
    transition: .3s ease-in;

}

.login_input-border::after {
    content: '';
    display: block;
    height: 1px;
    width: 0;
    margin-bottom: 16px;
    background:-moz-linear-gradient(120deg, #7c458d #76c3c3);
    transition: .3s ease-in-out;

}

.login_submit {
    height: 48px;
    width: 100%;
    outline: none;
    background:-moz-linear-gradient(120deg,#B566CC #8AE2E2 #B566CC);
    background-size: 200%;
    margin-bottom: 32px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    border: unset;
    border-radius: 4px;
    cursor: pointer;
    transition: .5s ease-in-out;
}

button {
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 600;
    color: #fffdff;
    background-color: #B566CC;
    border: 1px solid #333333;
    border-radius: 10px;
}
